@media screen and (max-width: 1024px){
header #mensagem-t {
    background-image: none;
    background-color: #3E3E3E;
    
}
.card-resp {
    display: none;
}

.card {
    width: 50%;
}
.card img{
    max-width: 100%;
}
.temas-resp {
    display: none;

}
.temas a {
    width: 45%;
    margin-left: 12px;
}
header #mensagem-t img{
        display: block;
        margin: 0 auto;
        max-width: 95%;
    }
.header-fix #pesquisa .menu-responsivo{
    width: 10%;
    height: 10px;
    display: block;
    float: left;
}
.header-fix #pesquisa .menu-responsivo span{
    width: 30px;
    height: 2.5px;
    border-radius: 2px;
    background-color: #000;
    float: left;
    margin-top: 7px;
}
.header-fix #pesquisa .img-logo{
    width: 90%;
}
.header-fix #pesquisa .img-logo img{
    width:60%;
    margin: 0 0 5px 10px;
}
.header-fix #pesquisa .barra-pesquisa{
    width: 100%;
    margin: 0;
}
#pesquisa .barra-pesquisa #txt-pesquisa{
    height: auto;
}
.header-fix #pesquisa .cadastro{
    display: none;
}
.header-fix #pesquisa  #favoritos{
    position: absolute;
    right: 70px;
}
.header-fix #pesquisa #favoritos img{
    width: 70%;
}
.header-fix #pesquisa #carrinho{
    position: absolute;
    margin-top: 5px;
    right: 30px;
}
.header-fix #pesquisa #carrinho img{
    width: 50%;
}
.anuncio img {
    max-width: 100%;
}
#menu {
    display: none;
}
#lista-de-material {
    margin: 0;
}
#lista-de-material .form-title{
    width: 100%;
    margin-left: 5%;
}
#lista-de-material .form-title img {
    width: 5%;
    margin: 5% 5% 0 0;
}
#lista-de-material .form-title h1{
    width:85%;
    font-size: 26px;
    float: left;
}
#lista-de-material form p{
    width: 100%;
    margin: 5px 0 10px 5%;
    font-size: 14px;
    float: left;
    
}
#lista-de-material form select{
    width: 90% !important;
    display: block;
    margin: 10px auto;
}
#lista-de-material form button{
    display: block;
    margin: 0 auto 10px;
}
.beneficios .frete{
    width: 100%;
    text-align: center;
}
.beneficios .frete .b-elementos{
    width: 100%;
    
}
.beneficios .frete .b-elementos img{
    float: none;
}

.beneficios .obj-center{
    display:block;
    margin: 0 auto;
}

.beneficios .s-plus{
    width: 100%;
    text-align: center;
}
.beneficios .s-plus .b-elementos2 img{
    float: none;
}
.beneficios .s-plus .b-elementos2{
    width: 100%;
}
.temas .tema-title h1{
    font-size: 20px;
    width: 100%;
}
.temas .tema-title a{
    margin: 10px 0;
    float: left;
    width: 37.5%;

}
.temas .tema-title a p{
    padding: 15px 0;
}
footer .meios-de-Pagamento{
    width: 100%;
    float: none;
    padding: 0;
}
footer .site-seguro{
    width: 100%;
    float: left;
    padding: 20px 0 0 0;
}
footer .site-seguro p{
    padding: 0 0 10px 0;
}
footer .site-seguro div{
   padding: 0 15%;
}
footer .site-seguro div img{
    margin-bottom: 5px;
}
footer .redes-sociais{
    width: 100%;
    float: left;
    padding: 0 0 10px;
    min-height: auto;
}
footer .redes-sociais p{
    padding: 0;
}
footer .redes-sociais .redes-logo{
    width: 100%;
    float: left;
    padding: 0 0 0 16%;
    margin-top: 10%;
}
footer .redes-sociais a{
    display: block;
    width: 15%;
    margin: 0 auto;
    float: left;
}
footer .redes-sociais img{
    margin: 0 auto;
    display: block;
    float: none;
}
footer .box-radius .col-radius{
    width: 42%;
    min-height: 190px;
    margin-bottom: 5%;
}
footer .box-radius .col-radius img {
    display: block;
    margin: 10px auto;
}
footer .box-radius .col-radius p{
    font-size: 14px;
    padding: 0 15px !important; 
}
footer .bloco-txt {
    padding: 0;
    margin: 0;
    width: 100%;
}
footer .bloco-txt .box-txt {
    width: 90%;
    min-height: 190px;
    margin: 0 auto 20px;
    float: none;
    border-radius: 0;
    border-bottom: 3px solid #efefef;
    padding-bottom: 20px;
}
footer .txt-footer{
    padding: 0 6% 0;
}
footer .txt-footer p {
    margin-bottom: 10%;
    font-size: 9.5px;
    color: #000;
}
}