* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    list-style: none;
}
body {
    font-family: sans-serif;
}
/* ========  Predefinições  ======== */

/* ======== Topo ========= */

header {
    width: 100%;
    float: left;
}
/* ======== Mensagem do Topo ========= */
#mensagem-t {
    width: 100%;
    background-image: url(img/frete-gratis.png);
    background-repeat: no-repeat;
    height: 40px;
    background-color: #24282b;
    float: left;
}
/* ======== // Mensagem do Topo ========= */

/* ========  Barra de pesquisa ========= */
#pesquisa {
    padding: 12px;
    background-color: #fd0;
    float: left;
    width: 100%;
}

#pesquisa .img-logo {
    float: left;
}
#pesquisa .img-logo img {
    margin-top: 5px;
    width: 175px;
}
#pesquisa .barra-pesquisa {
    float: left;
    width: 48%;
    position: relative;
    margin-left: 20px;
}

#pesquisa .barra-pesquisa #txt-pesquisa 
{
    width: 100%;
    color: black;
    border-radius: 5px;
    border: 0;
    height: 40px;
    padding: 12px;
    font-size: 16px;
    outline: none;
}

#pesquisa .barra-pesquisa img{
    position: absolute;
    right: 8px;
    top: 25%;
    width: 22px;
}
#pesquisa .cadastro {
    float: left;
    margin-left: 125px;
    width: 10%;
}
#pesquisa .cadastro img {
    margin-top: 5px;
    width: 25px;
    float: left;
}
#pesquisa .cadastro h1 a {
    font-family: sans-serif;
    font-weight: 400;
    margin: 4px 0 0 10px;
    width: 60%;
    font-size: 12px;
    float: left;
    text-decoration: none;
    color: black;
}

#pesquisa #favoritos {
    float: left;
    width: 10%;
    position: relative;
    margin-top: 5px;
}
#pesquisa #favoritos img{
    width: 25px;
    right: 0;
    position: absolute;
}

#pesquisa #carrinho{ 
    float: left;
    width: 15%;
    position: relative;
}
#pesquisa #carrinho img{
    width: 25px;
    right: 0;
    position: absolute;
}
/* ======== // Barra de pesquisa ========= */

/* ======== MENU ========= */

#menu {
    width: calc(100% - 10px);
    margin-left: 10px;
    float: left;
    border-bottom: 2px solid #efefef;
}
#menu #menu-drop {
    width: 18.5%;
    float: left;
    position: relative;
}
#menu #menu-drop:hover ul li{
    display: block;
}
#menu #menu-drop:hover ul li:hover{
    background-color: #efefef;
}
#menu #menu-drop #dep{
    text-decoration: none;
    float: left;
    background-color: #efefef;
    width: 100%;
}
#menu #menu-drop #dep p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #efefef;
    color: #24282b;
    float: left;
    margin-top: 5px;
}
#menu #menu-drop .icon-menu {
    width: 30px;
    height: 26px;
    float: left;
    margin: 14px 0 0 10px;   
}
#menu #menu-drop .linha-icon {
    float: left;
    width: 26px;
    height: 1.5px;
    background-color: #14171c;
    margin-top: 4px;
}
#menu #menu-drop .linhas-icon{
    float: left;
    width: 26px;
    height: 0.8px;
    background-color:  #14171c;
    margin-top: 7px;
}

#menu #menu-drop ul{
    position: absolute;
    top:50px; 
    left:0;
    width: 100%;
    float: left;
}
#menu #menu-drop ul li{ 
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding: 12px;
    font-size: 12px;
    float: left;
    cursor: pointer;
    display: none;
}
#menu #menu-drop ul li .sub-menu {
    width: 1021px;
    max-width: 1150px;
    float: left;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #efefef;
    display: none;
}
#menu #menu-drop ul li .sub-menu ul{
    top: 0;
    width: 19.5%;
    position: relative;
    height: 372px;
    float: left;
    background-color: #efefef;
}
#menu #menu-drop ul li .sub-menu ul li{
    padding: 7px 0 0 15px;
    border: none;
    text-align: left;
    background-color: transparent;
    padding-left: 15px;
    
}
#menu #menu-drop ul li .sub-menu ul li a{
    font-weight: normal;
    color: #1592e6;
    font-size: 8px;
    text-decoration:none;
}
#menu #menu-drop .sub-menu .sub-title h1:hover {
    text-decoration: underline;
}
#menu #menu-drop ul li .sub-menu ul li a:hover p{
    text-decoration: underline;
    color: #24282b;
}
#menu #menu-drop ul li .sub-menu ul li a h1{
    padding: 10px 0 20px 0;
}
#menu #menu-drop ul li .sub-menu ul li a p{
    color: #24282b;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
#menu #menu-drop ul li .sub-menu .sub-title h1{
    font-weight: normal;
    color: #1592e6;
    font-size: 15px;
    padding: 30px 0 10px 15px;
    text-decoration: none;
    font-weight: bold;
}
#menu #menu-drop ul li .sub-menu ul li a .txtLighter{
    font-weight: lighter;
    text-transform: none;
}
#menu #menu-drop div a{
    margin-top: 10px;
}
#menu #menu-drop ul li:hover .sub-menu{
    display: block;
}
#menu #menu-drop .anuncio-menu{
    background-color: #ccc;
    float: left;
    width: 20%;
}
#menu #menu-drop .anuncio-menu img{
    width: 100%;
    margin: 0;
}

#menu #menu-drop img {
    width: 18px;
    margin: 25px 0 0 20px;
}
#menu #menu-select{
    width: 81.5%;
    float: left;
}
#menu #menu-select ul .select1{
    width: 60%;
    float: left;
}
#menu #menu-select .select1 li{
    float: left; 
}
#menu #menu-select .select1 li a{
    float: left;
    display: block;
    font-size: 9px;
    font-family:sans-serif ;
    padding: 19.5px 0 19.5px 19.5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
#menu #menu-select .select1 li a:hover {
    text-decoration: underline;
}
#menu #menu-select ul .select2 {
    width: 60%;
    float: left;
}
#menu #menu-select .select2 li{
    float: right;
}

#menu #menu-select .select2 li a{
    float: left;
    display: block;
    font-size: 10px;
    font-family:sans-serif;
    color: #24282b;
    text-decoration: none;
    padding: 19.5px 14px 14px 0;
}

#menu #menu-select .select2 li a:hover {
    text-decoration: underline;
}
#menu #menu-select li .bullet::after{
    display: inline-block;
    margin-left: 14px;
    margin-right: 1px;
    width: 4px;
    height: 4px;
    background-color: #d5d5d5;
    vertical-align: middle;
    border-radius: 50%;
    content: "";
}
/* ======== // MENU ========= */

/* ======== // Topo ========= */

/* ===== Carrossel ========= */
.carrossel {
    float: left;
}
.carrossel img {
    width: 100%;
}
/* ===== Carrossel ========= */

/* ======== Anuncio ========= */
.anuncio img {
    width: 100%;
    float: left;
    margin: 50px 0;
    background-color: #efefef;
}
/* ===== // Anuncio ========= */

/* ======== Formulário ========= */
#lista-de-material {
    float: left;
    width: calc(100% - 5%);
    margin: 0 0 0 5%;
}

#lista-de-material .form-title img {
    width: 28px;
    float: left;
    margin-right: 1%;
}
#lista-de-material .form-title h1 {
    font-size: 26px;
    color: #000;
    font-weight: 400;
}
#lista-de-material .form-title p {
    margin: 20PX 0 20px 0;
    font-size: 12px;
}
#lista-de-material form select{
    background: linear-gradient(45deg,transparent 50%,#000 0),linear-gradient(135deg,#000 50%,transparent 0),linear-gradient(90deg,#fddd2d,#fddd2d);
    background-position: calc(100% - 21px) calc(1em + 2px),calc(100% - 16px) calc(1em + 2px),100% 0;
    background-size: 5px 5px,5px 5px,2.5em 2.5em;
    background-repeat: no-repeat;
    border: thin solid #fddd2d;
    font: 300 1em/100% Helvetica Neue,Arial,sans-serif;
    line-height: 2em;
    padding: 5px 3px 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px;
    width: 15%;
}
#lista-de-material form button {
    background-color: #fddd2d;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
/* ======== // Formulário ========= */

/* ======== Temas especiais  ========= */
.temas {
    width: 100%;
    float: left;
    background-color:#efefef;
    margin: 50px 0 50px 0;
}
.temas a {
    float: left;
    width: 15.8%;
    margin-left: 10px;
}
.temas a img{
    float: left;
    width: 100%;
}
.temas .tema-title {
    float: left;
    width: 100%;
    margin: 50px 0 50px 10px;
}
.temas .tema-title h1{
    float: left;
    font-weight: lighter;
    font-size: 25px;
    color: #24282b;
    width: 85%;
}
.temas .tema-title a{
    float: right;
    width: 11%;
    text-decoration: none;
    margin-right: 14px;
}
.temas .tema-title a p{
    padding: 12px 0;
    background-color: gold;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #24282b;
    border-radius: 5px;
}
/* ======== // Temas especiais  ========= */